<!DOCTYPE html>
<html>
<head>
  <title>RoomieKarma</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap.js" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Raleway+Dots' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
</head>
  <header>
    <div id="navbar"class ="navbar">
      <div class ="text-left ">
        <h4 id="title"><img src= "https://www.buddhacom.com/wp/wp-content/uploads/2012/05/Buddha_Illustration_About.jpg" class="img-circle" height='80px'> Roomie Karma </h4>
        <h4 id="subtitle"> Clean House, Clean Conscience</h4>
      </div>
    </div>
  </header>
<body id ="main">
  <div id= class="container">

<% if current_household %>
    <%= link_to "Logout", logout_path %>
<% end %>
<br><%= flash[:errors] if flash[:errors] %><br>
<%= yield %>
</div>
</body>
</html>
